.project-wrapper {
    height: 100%;
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100vh;
    background-color: white;
    }

main div{
    width: 100%;
    border-top: 1px solid black;
    padding: 1vw;
    padding-left: 3vw;
    position: relative;
    margin-bottom: -2.5vw;
    background-color: white;
    cursor: pointer;
}

main div p {
    margin: 0px;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    pointer-events: none;
}

.my-skills {
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.8em;
    font-weight: 100;
    transition: color 2s;
}

.my-skills:hover {
    color: rgb(93, 50, 93);
}