* {
  padding: 0;
  margin: 0;
}

.app {
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: contrast(140%) brightness(100%);
  background: linear-gradient(48deg, rgba(96,201,251,0.75), rgba(255,68,68,0.75)), 
  radial-gradient( 
    at var(--mouse-x) var(--mouse-y),
    rgba(255,255,255,0.5), 
    rgba(0,0,0,0.5)
  ), 
  url(./assets/noise.svg);
}


.content-container {
  text-align: left;
}

.title {
  position: absolute;
  padding: 2%;
  color: white; 
  font-family: 'Work Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
}

.description {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px; 
  font-size: 32px;
  font-family: 'Work Sans', sans-serif;
  color: rgba(255,255,255,0.8);
  letter-spacing: 1px;

}

.name-title{
  font-weight: 550;
  letter-spacing: 2px;
  color: rgba(255, 255, 225, 0.9);
}

.passion-title {
  font-weight: 550;
  text-decoration: none;
  font-style: italic;
  color: rgba(255, 255, 225, 0.9);
}

.git-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 0;
  margin: 50px; 
  cursor: pointer;
}
